.App {
  font-family: "Comic Sans MS";
  text-align: center;
  align-items: center;
}
body{
  background: radial-gradient(red,orange,yellow,green,blue,purple);
}
.paypalButtons{

  width:850px;
}
.buttonholder{

  display: flex;
  align-items: center;
  justify-content: center;
}